{{#
	@name Single list
	@desc The Single list template.
#}}

<!-- /single_list_page.antlers.html -->
<main class="relative w-full" id="content"> 

    {{# Header #}}
    {{ partial:components/header social_icons="false" }}

    {{# dates #}}
    {{ partial:layout/section color="dark" }}
       
        {{# next dates block #}}
        {{ partial:components/{select_collection}_block }}
        
    
    {{ /partial:layout/section }}
    
    {{# if there is additional content #}}
    {{ add_section }}
        {{ partial:layout/section color="{ theme_selector }" }}
            {{ partial:components/bard handle="{ article }" }}
        {{ /partial:layout/section }}
    {{ /add_section }}
    
</main>
<!-- End: /single_list_page.antlers.html -->
