/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/vendor/statamic-peak-tools
/public/img/
/public/static/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/
/public/css/
.DS_Stor??

/.phpunit.cache
.antlers.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.DS_Store

/storage/statamic/*
/storage/debugbar/*