{{#
	@name Main desktop navigation
	@desc The sites main desktop navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<!-- /navigation/_main_desktop.antlers.html -->
<nav class="justify-end hidden pointer-events-auto lg:flex lg:flex-wrap" aria-label="{{ trans:strings.main_navigation }}">
    
    <div class="flex items-center h-8 px-6 bg-light">
        <ul class="flex items-center gap-[2vw] text-darkblue">
            
            {{# get all nav items #}}
            {{ nav:main max_depth="1" include_home="false" select="title|url|is_current|is_parent|button" }}
                {{ if button == false }}
                    <li class="relative">
                        <a class="text-lg leading-s block font-extrabold uppercase hover:text-yellow focus:outline-none focus-visible:ring-2 ring-primary whitespace-nowrap {{ is_current ? 'text-green' : 'text-darkblue' }} "href="{{ url }}">
                            {{ title }}
                        </a>
                    </li>
                {{ /if }}
            {{ /nav:main }}
        </ul>

        {{# language picker #}}
        <div class="flex gap-2 ml-8">
            {{ locales all="true" self="true" current_first="false" }}
                <a
                    href="{{ permalink }}"
                    aria-label="{{ locale:name }}"
                    class="{{ is_current ?= "text-yellow" }} block px-1 py-2 -mx-1 text-xs font-bold tracking-wide uppercase whitespace-nowrap hover:text-green focus:outline-none focus-visible:ring-2 ring-primary"
                >
                    {{ locale:short }}
                </a>
            {{ /locales }}
        </div>
    </div>
    
    {{# nav items as cta's #}}
    {{ nav:main max_depth="1" include_home="false" select="title|button|url" }}
        {{ if button == true }}
            {{ partial:components/button label="{{ title }}" button_type="background" link_type="url"}}
        {{ /if }}
    {{ /nav:main }}
</nav>
<!-- End: /navigation/_main_desktop.antlers.html -->
